extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
  comments:
    min-spaces-from-content: 1
  document-start:
    present: false

# Игнорировать файлы из виртуального окружения и зависимостей
ignore: |
  .venv/
  venv/
  .venv/**/*
  venv/**/*
  **/.venv/**/*
  **/venv/**/*
